<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/css/stely.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/layui/layui.js"></script>
</head>

<body>
<!-- 导航 -->
<nav class="layui-bg-black layui-header" th:replace="admin/_fragments::menu(0)">
    <div class="layui-container">
        <ul class="layui-nav layui-layout-left" lay-bar="disabled" lay-filter="" style="left: 0px;">
            <li class="layui-nav-item" lay-unselect><a href="#">TONGHUI</a></li>
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">博客</a>
                <dl class="layui-nav-child">
                    <dd><a href="">列表</a></dd>
                    <dd><a href="">发布</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="#">分类</a></li>
            <li class="layui-nav-item"><a href="#">标签</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-bar="disabled" lay-filter="">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                         class="layui-nav-img">
                    tester
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Your Profile</a></dd>
                    <dd><a href="">Settings</a></dd>
                    <dd><a href="">Sign out</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</nav>
<div class="layui-layout layui-layout-admin">
    <div class="layui-container layui-body" style="left: 0px;z-index: 100;">
        <div style="padding: 15px;">
            <div class="layui-col-md12  m-margin-tb-large">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <span><h3 class="m-float-l">HI:</h3> <span th:text="${session.user.getNickname()}"></span>，欢迎登录！</span>
                    </div>
                    <div class="layui-card-body" id="headimg">
                        <img src="https://unsplash.it/1000/400?image=1005" alt="" class="m-radius">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <footer class="layui-bg-black m-padded-tb layui-footer " style="left: 0px;height: auto;" th:replace="admin/_fragments::footer">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <p class="layui-text layui-word-aux m-text-align">Copyright © 2021 layui.itmtr.cn MIT Licensed
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script>
    // var height = document.getElementById("headimg").scrollHeight; //高度

    layui.use(['table','layer'], function () {
        var $ = layui.jquery;

        //获取此元素的宽度
        var width = document.getElementById("headimg").scrollWidth; //宽度
        $("#headimg img").attr('src', "https://picsum.photos/id/0/" + (width-30) + "/" + (width / 2-50));
    });
</script>
</html>